/* Below line is used for online Google font */
@import url(http://fonts.googleapis.com/css?family=Droid+Serif);
html {
  background: url(../images/bg.jpg) no-repeat center center fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}
div.container{
width: 50%;
height: 30%;
margin:auto;
font-family: 'Droid Serif', serif;
position:absolute;
    top:0;
    left: 0;
    right: 0;
    margin: auto;
}
div.main{
width:80%;
float:left;
padding: 30px 40px;
box-shadow: 0 0 10px;
border-radius: 2px;
margin-top:7px;
position: absolute;
    top:0;
    left: 0;
    right: 0;
    margin: auto;
}
div.about{
  border:2px solid black;
    width:100%;
    height:200px;
  position: relative;
      top:380px;
}
h2{
text-align:center;
font-size:18px;
color: #0000000;
}
p{
font-size:15px;
color:#084CA1;
font
}
label{
color: #0000000;
font-size: 16px;
font-weight: bold;
}
input[type=button]{
font-size: 15px;
border: 1px solid gray;
padding: 5px;
background-color: #084CA1;
font-weight:bold;
cursor: pointer;
width:48%;
color:white;
border-radius:3px;
margin-left:6px;
font-family: 'Droid Serif', serif;
}
input[type=radio]{
width:15px;
height:15px;
}
input[type=text]{
padding: 5px;
border-radius:3px;
margin-left:6px;
border: 2px solid rgb(165, 165, 165);
width: 95%;
height: 20px;
}
form{
font-size:15px;
}
span{
color:red;
}
textarea{
border: 2px solid rgb(165, 165, 165);
padding: 5px;
width: 95%;
border-radius: 3px;
resize: none;
height: 40px;
margin-left:6px;
}
h3{
  text-align:center;
  font-size:18px;
  color: #0000000;
  padding: 5px;
}
h4{
  text-align:center;
  color: #0000000;
  padding: 5px;
}